<div class="fields">
  <div class="form-group">
    <%= text_f f, :size_gb, :class => "col-md-2", :label => _("Size (GB)"), :onchange => 'capacity_edit(this)', :help_inline => _('A boot disk of this size containing the operating system image will be created') %>
  </div>
</div>
